
.numeric-text {
    transition: transform 0.5s cubic-bezier(.47,1.64,.44,.98), opacity 0.2s ease-in-out, width 0.1s linear;
    display: inline-block;
    overflow: visible;

    /* font-size: 1rem; */
    font-family: monospace;
    /* font-weight: 500; */
}

.fade-out {
    opacity: 0;
    transform: translateY(20px); /* Move down during fade-out */
}

.fade-in {
    opacity: 0;
    transform: translateY(-30px); /* Start from the top */
}

.fade-default {
    opacity: 1;
    transform: translateY(0); 
}