

/* https://www.realtimecolors.com/?colors=e1e5ea-22262a-8cb8e9-634562-a6708e&fonts=Inter-Inter */
:root {
    --text_col: #E2E6EB;
    --background_col: #212529;
    --primary_col: #8CB8E9;
    --secondary_col: #634562;
    --accent_col: #A6708E;

    --card_col: #2b3036;
}