extends layout

block layout-content

  html
    head
      title Library Indexer
    header
    body

        div(style="padding:10%")
            div(class="container text-center", style="border:5px; border-radius: 20px; border-style: solid; border-color: wheat; padding:4%")
                div(class="row align-items-start")
                    div(class="col")
                       image(id="cover")
                    div(class="col")
                        h2(id="title", style="font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif") Title
                div(class="btn-group" role="group" aria-label="Basic example" style="margin:20px")
                    button(type="button" class="btn btn-danger" onclick="btnClicked(false)") Cancel
                    button(type="button" class="btn btn-success" onclick="btnClicked(true)") Add


        script.
            var book = !{book};
            console.log(book)


            document.getElementById("title").innerText = book.title;
            document.getElementById("cover").src = book.imageLinks.smallThumbnail;


            function btnClicked(answer){
                
                fetch('/library/addBook', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                    },
                        body: JSON.stringify({answerResult: answer})
                }).then(response => response.json())
                .then(response => {
                    
                })
                window.location.replace("/library");
            }


      