extends layout

block layout-content

  html
    head
      title Library Indexer

    header


      script.

        var book = !{book};
        console.log(book)

        function refreshPage() {
            swipePageDown()
            document.getElementById("title").innerText = book.title;
            document.getElementById("cover").src = book.imageLink;
        }
        function btnClicked(parm) {
            if (parm) {
                // Checkout
                bootbox.prompt({
                    title: 'Enter Student Number',
                    required: true,
                    inputType: 'number',
                    callback: function (studentresult) {
                        if (studentresult) {
                            bootbox.prompt({
                                title: 'Pick a Return Date',
                                required: true,
                                inputType: 'date',
                                callback: function (result) {
                                    checkoutConfirm(studentresult, result)
                                }
                            });
                        }
                    }
                });
                
            } else {
                // Cancel
                changePage("/library")
            }
        }
        
        function checkoutConfirm(studentNum, returnDay) {
            fetch('/library/checkoutConfirm', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                },
                    body: JSON.stringify({student: studentNum, returnDate: returnDay})
                }).then(response => response.json())
                .then(response => {
                    if (!response.error) { 
                        bootbox.dialog({
                            backdrop: true,
                            message: "Student " + studentNum + " checked out " + book.title,
                            callback: function (result) {
                                changePage("/library")
                            },
                            buttons: {
                                cancel: {
                                    label: "Close",
                                    className: 'btn-primary',
                                    callback: function(){
                                        changePage("/library")
                                    }
                                }
                            }
                        });
                        
                    } else {
                        bootbox.alert('There was an error in the server');
                        changePage("/library")
                    }
                })
        }


        


    body(onload="refreshPage()")
        div( class="swipe-container")
            div( class="swipe-content swipe-transition")
                div(style="padding:10%")
                        div(class="container text-center", style="border:5px; border-radius: 20px; border-style: solid; border-color: wheat; padding:4%")
                            div(class="row align-items-start")
                                div(class="col")
                                    image(id="cover", style="max-width:100px")
                                div(class="col")
                                    h2(id="title", style="font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; color:white;") Title
                            div(class="btn-group" role="group" aria-label="Basic example" style="margin:20px")
                                button(type="button" class="btn btn-danger" onclick="btnClicked(false)") Cancel
                                button(type="button" class="btn btn-success" onclick="btnClicked(true)") Checkout
