extends layout

block layout-content
  head
    title Login
  div( class="container text-center")  
    div(style="padding: 5%; background-color:wheat; border-radius: 20px;")
      h1 Login
      h2= message 
      form(action='/auth/login' method='post')
        h3 Username:
        input(type='text' name='username' placeholder='Username' required='')
        br
        br
        h3 Password:
        input(type='password' name='password' placeholder='Password' required='')
        br
        br
        div( class="container text-center") 
          div(class="row")
            div(class="col")
              input(type='submit' value='login')
            div(class="col")
              a(href='/signup') Create Account
