extends layout

block layout-content

  html
    head
      title Library Indexer
      // script(src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js")
      script(src="/static/html5-qrcode.min.js")
    header
    body
      
      div( class="container text-center", id="manual", style="") 
        div(id="qr-reader" style="width: 90%")
        h3(style="color:white") It is recomended that you use a webcam or document camera
        div(class="row")
          div(class="col")
            br
            button(type="button" class="btn btn-primary" onclick="btnClick('manual')") Manual ISBN
    
      h3(id="error", style="color:white")
      div( class="container text-center", id="manualenter")    
        
        br
        form(action='/library/manualScanBook' method='post' enctype="multipart/form-data" )
          h3 Title:
          input(type='text' name='title' placeholder='title' required='')
          br
          br
          h3 ISBN:
          input(type='text' name='isbn' placeholder='isbn' required='')
          br
          br
          h3 ImageFile: 
          input( type="file" name="image" accept="image/*" capture="camera")
          br
          br
          div( class="container text-center") 
            div(class="row")
              div(class="col")
                input(type='submit' value='Submit')
              div(class="col")
                a(href='/library') Cancel


      script.
        document.getElementById("manualenter").style.display = "none"
        let lastRead = "";

        function onScanSuccess(decodedText, decodedResult) {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            html5QrcodeScanner.clear();
            if (decodedResult == lastRead) {return}
            let dialog = bootbox.dialog({
                message: '<p class="text-center mb-0"><i class="fas fa-spin fa-cog"></i> Fetching Data</p>',
                closeButton: false
            });
            fetch('/library/scanBook', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({isbnCode: decodedResult})
            }).then(response => response.json())
            .then(response => {
              console.log(response)
              if (!response.error) { 
                dialog.modal('hide');   
                window.location.replace('/addBook');
              } else {
                dialog.modal('hide');   
                document.getElementById("error").innerText = "Could Not Get Data\nEnter Information Manually"
                
                document.getElementById("qr-reader").remove()
                document.getElementById("manualenter").style.display = ""
              }
            })
          }
          function btnClick(option) {
            if (option == 'manual') {
              let chosen = window.prompt("Enter ISBN","")
              if (chosen != "") {
                onScanSuccess("", chosen);
              }
            }
          } 
        
        var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { 
          fps: 10, 
          qrbox: 250, 
          rememberLastUsedCamera: true,
          showTorchButtonIfSupported: true,
          useBarCodeDetectorIfSupported: true,
          showZoomSliderIfSupported: true,
          defaultZoomValueIfSupported: 2
        });
        html5QrcodeScanner.render(onScanSuccess);

        
        //const config = { 
        //  fps: 10, 
        //  qrbox: 250, 
        //  rememberLastUsedCamera: true,
        //  showTorchButtonIfSupported: true,
        //  useBarCodeDetectorIfSupported: true,
        //};
        //const html5QrCode = new Html5Qrcode("qr-reader", config);
        //html5QrCode.start({ facingMode: "environment" }, config, onScanSuccess);

