h1 {
    font-size: 35px; 
    color: #dfdfdf;
}
h2 {
    font-size: 16px;
    color: #dfdfdf; 
}

.progressImgContainer {
    /* height: 50vh; */
    height: 50vh;
    left: 12px;
    position: relative;
}


.progressImgContainer img {
    position: absolute;
    /* width: 100%;
    
    max-height: 100%;
    height: auto; */

    width: 80vw;
    max-height: 50vh;
    
    left: 10vw;

    object-fit: scale-down;

    padding: 10px;
    margin: -10px;
}

.reveal-Image { /* Color Temple */
    clip-path: inset(100% 0 0 0); /* Initially hidden */
    transition: clip-path 1s cubic-bezier(.47,1.64,.44,.98);

    overflow: visible;
}


.darkGlow { /* BW Temple */
    overflow: visible;
    filter: drop-shadow(0px 0px 5px rgba(103, 103, 97, 0.9));
}

.glow { /* Container */
    overflow: visible;
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 239, 0.9));
}






.numeric-text {
    font-size: 2rem;
    transition: 
        transform 0.5s cubic-bezier(.47,2.5,.44,.98), 
        opacity 0.2s ease-in-out, 
        width 0.2s linear,
        opacity 0.2s linear;
    display: inline-block;
    overflow: visible;
}

.fade-out {  /* Move down during fade-out */
    opacity: 0;
    transform: translateY(10px);
}

.fade-in { /* Start from the top */
    opacity: 0;
    transform: translateY(-10px); 
}

.fade-default {
    opacity: 1;
    transform: translateY(0); 
}



#countDownTimer h1 {
    font-family: monospace;
}
#countDownTimer {
    opacity: 0.65;
}