h1 {
    font-size: 35px; 
    color: #dfdfdf;
}
h2 {
    font-size: 16px;
    color: #dfdfdf; 
}

.progressImgContainer {
    /* width: 200px; */
    /* height: 300px; */
    height: 50vh;
    
    left: 12px;

    /* max-width: 500px; */
    
    position: relative;
}


.progressImgContainer img {
    position: absolute;
    /* width: 100%;
    
    max-height: 100%;
    height: auto; */

    width: 80vw;
    height: 50vh;
    
    left: 10vw;

    object-fit: contain;

    padding: 10px;
    margin: -10px;
}

.reveal-Image {
    clip-path: inset(100% 0 0 0); /* Initially hidden */
    transition: clip-path 1s cubic-bezier(.47,1.64,.44,.98);

    overflow: visible;
}


.darkGlow {
    overflow: visible;
    filter: drop-shadow(0px 0px 5px rgba(103, 103, 97, 0.9));
}

.glow {
    overflow: visible;
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 239, 0.9));
}






.numeric-text {
    font-size: 2rem;
    transition: transform 0.5s cubic-bezier(.47,1.64,.44,.98), opacity 0.2s ease-in-out, width 0.2s linear;
    display: inline-block;
    overflow: visible;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px); /* Move down during fade-out */
}

.fade-in {
    opacity: 0;
    transform: translateY(-20px); /* Start from the top */
}

.fade-default {
    opacity: 1;
    transform: translateY(0); 
}