extends trackerLayout.pug

block content

    div(class="d-flex align-items-center justify-content-center")    
        div(class="text-center")
            h1(style="padding-top:10px") Recent Entries

    div(id="listContainer")

    script.
        var isAdmin = !{isAdmin};
    script(src="/static/wardTracker/list.js")