extends trackerLayout.pug

block content

    div(class="d-flex align-items-center justify-content-center")    
        div(class="text-center")
            h1(style="padding:10px") Recent Entries

    div(id="listContainer" style="padding:10px")


    script(src="/static/wardTracker/list.js")