extends trackerLayout.pug

block content
    
    div(style="padding-top:7vh; height: 70vh;" id="mainContent")
        div(class="progressImgContainer")

            div(class="darkGlow")
                Img(src="/static/wardTracker/BW_temple.png")
            
            div(class="glow")
                Img(src="/static/wardTracker/temple.png" class="reveal-Image" id="progressImg")

        div(class="text-center")
            div(class="flex hstack"  style="margin: auto; padding-bottom: 10px;")
                div(class="spacer")
                
                div(id="rangeCounter")
                div(id="middleCounter" style="padding-left: 10px; padding-right: 10px;")
                div(id="totalCounter")

                div(class="spacer")


    div(id="chatContainer")

    button(type="button" class="btn btn-primary" onclick="displaySubmitForm()" style="position:absolute; left: 3px; bottom: 3px;") Create Entry   
    button(type="button" class="btn btn-success" onclick="displayRecents()"    style="position:absolute; right: 3px; bottom: 3px;") Recent Entries  
    
    button(type="button" class="btn btn-danger admin" onclick="changePage('/admin/view')" style="position:absolute; right: 3px; bottom: 50px;") Admin Page
    button(type="button" class="btn btn-warning admin" onclick="changePage('/wardTracker/pages/list')" style="position:absolute; right: 3px; bottom: 100px;") Entries

    script.
        var isAdmin = !{isAdmin};
        var versionNum = !{versionNum}
    script(src="/static/wardTracker/chat.js")
    script(src="/static/wardTracker/main.js")