extends trackerLayout.pug

block content


    iframe(src="/wardTracker/pages/progress" style="width:300px; height: 250px;")
    iframe(src="/wardTracker/pages/percent" style="width:150px; height: 80px;")
    iframe(src="/wardTracker/pages/range" style="width:200px; height: 80px;")
    br
    iframe(src="/wardTracker/pages/submit" style="height: 500px;")
    iframe(src="/wardTracker/pages/list" style="width: 500px; height: 500px; overflow:hidden")

