extends trackerLayout.pug

block content

    div(class="progressImgContainer")
        Img(src="/static/wardTracker/BW_temple.png")
        Img(src="/static/wardTracker/temple.png" class="reveal-Image" id="progressImg")


    script(src="/static/wardTracker/progress.js")