extends trackerLayout.pug

block content

    div(class="progressImgContainer")
        
        div(class="darkGlow")
            Img(src="/static/wardTracker/BW_temple.png")
        
        div(class="glow")
            Img(src="/static/wardTracker/temple.png" class="reveal-Image" id="progressImg")


    script(src="/static/wardTracker/progress.js")