extends trackerLayout.pug

block content

    div(class="d-flex align-items-center justify-content-center min-vh-100") 
        div(class="text-center")
            h1(id="rangeText" style="margin: auto")  

    script(src="/static/wardTracker/progress.js")