body {
    background-color: rgb(54, 54, 54);
}
h1 {
    
    color: black;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif
}
h2 {
  
  color: black;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif
}
h3 {
  color: white;
}

header {
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
  color: white;
}